exportPattern("^[[:alpha:]]+")
importFrom("stats", "median", "var", "sd", "na.omit")
importFrom("utils", "install.packages")
importFrom("moments", "skewness", "kurtosis")
importFrom("rlang", "enquos", "as_label", "eval_tidy")
